
    <!-- End Navigation Bar-->
    <section>
        <div class="container">
          <div class="single-product-details">
            <div class="row">
              
              <div class="col-md-6">
                <a href="/allproduct" class="btn btn-primary btn-bg text-center w-100">Back</a>
                <div class="div">
                  <br>
                </div>
                <div data-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;controlNav&quot;: true}" class="flexslider nav-inside control-nav-dark">
                  <ul class="slides">
                    <li>
                      <img src="/images/<%= productV.photo %>" alt="">
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <div class="title mt-0">
                  <h2><%= productV.title %> <span class="red-dot"></span></h2>
                  <p class="m-0">Free Shipping Worldwide</p>
                </div>
                <div class="single-product-price">
                  <div class="row">
                    <div class="col-xs-6">
                      <h3><del>$<%= productV.oldprice %> </del><span>$<%= productV.newprice %> </span></h3>
                    </div>
                    <div class="col-xs-6 text-right"><span class="rating-stars">              <i class="ti-star full"></i><i class="ti-star full"></i><i class="ti-star full"></i><i class="ti-star full"></i><i class="ti-star"></i><span class="hidden-xs">(3 Reviews)</span></span>
                    </div>
                  </div>
                </div>
                <div class="single-product-desc">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis repellat iste natus at impedit quo consequuntur, quam, vel saepe voluptatum minus temporibus excepturi aspernatur labore molestiae fugit tempora veritatis unde.</p>
                </div>
                <div class="single-product-add">
                  <form action="#" class="inline-form">
                    <div class="input-group">
                      <input type="number" placeholder="QTY" value="1" min="1" class="form-control"><span class="input-group-btn"><button type="button" class="btn btn-color">Add to Cart<i class="ti-bag"></i></button></span>
                    </div>
                  </form>
                </div>
                <div class="single-product-list">
                  <ul>
                    <li><span>Sizes:</span> S, M, L, XL</li>
                    <li><span>Colors:</span> Blue, Red, Grey</li>
                    <li><span>Category:</span><a href="#">Blazers</a>
                    </li>
                    <li><span>Tags:</span><a href="#">Outfit</a>-<a href="#">Jeans</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end of row-->
          </div>
        </div>
      </section>
      <!-- Footer-->
      