
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/33.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay light">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h2 class="mb-25">Forms<span class="red-dot"></span></h2>
                <h4>Molestiae aliquam delectus ipsam deleniti ducimus.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h3 class="fw-400">Inputs</h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-5 mb-25">
              <div class="form-group">
                <input type="text" placeholder="Text field with Placeholder" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" placeholder="Smaller Text field" class="form-control input-sm">
              </div>
              <div class="form-group has-error">
                <input type="password" placeholder="Password Input with error style" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" placeholder="Disabled Input" disabled class="form-control">
              </div>
              <div class="form-group has-success">
                <textarea placeholder="Textarea  with success style" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label>Text field with label</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group">
                <select multiple="true" class="form-control">
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>
              </div>
              <div class="form-group">
                <div class="form-select">
                  <select name="month" class="form-control">
                    <option selected="selected" value="">Select</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox" value="1">Option 1</label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="2">Option 2</label>
              </div>
              <div class="form-group">
                <label class="radio-inline">
                  <input type="radio" value="1" name="radio_1">Option 1</label>
                <label class="radio-inline">
                  <input type="radio" value="2" name="radio_1">Option 2</label>
              </div>
              <div class="form-group">
                <div class="checkout-submit">
                  <button type="button" class="btn btn-color btn-block">Submit Button</button>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
  