
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/33.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay light">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h2 class="mb-25">Tabs<span class="red-dot"></span></h2>
                <h4>Molestiae aliquam delectus ipsam deleniti ducimus.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <div class="title center">
                <h3 class="fw-400 mb-50">Boxed            </h3>
              </div>
              <ul role="tablist" class="nav nav-tabs center">
                <li role="presentation" class="active"><a href="#first-tab" role="tab" data-toggle="tab">First</a>
                </li>
                <li role="presentation"><a href="#second-tab" role="tab" data-toggle="tab">Second</a>
                </li>
                <li role="presentation"><a href="#third-tab" role="tab" data-toggle="tab">Third</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="first-tab" role="tabpanel" class="tab-pane active">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis ab impedit ipsam inventore, odio sit repudiandae. Fuga soluta officia quas voluptatem, dolores nulla eaque nostrum nobis culpa illum rerum. Ut molestias nemo voluptas
                    velit explicabo dolores iusto labore eius, quidem voluptates praesentium, libero minus cumque aut consequatur expedita excepturi quae voluptatum.</p>
                </div>
                <div id="second-tab" role="tabpanel" class="tab-pane">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo vel qui cumque laborum asperiores, magnam, deserunt, impedit eveniet dolores non placeat aut recusandae. Maxime, cupiditate. Similique obcaecati aliquid amet odio. Magnam
                    perferendis tenetur temporibus adipisci. Adipisci, debitis sit veniam possimus sed, natus. Molestias possimus rerum laborum quasi, voluptas quidem assumenda sapiente vero.</p>
                </div>
                <div id="third-tab" role="tabpanel" class="tab-pane">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis porro nobis non qui, excepturi deserunt fugiat est quos vitae vero laboriosam hic quis, aliquam tempore odio sint, distinctio libero. Officia sit esse dolorum
                    excepturi perferendis? Voluptatibus iste a illum dolorem nam odit sequi reiciendis explicabo ullam pariatur facilis eos consequatur, perspiciatis!</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="title center">
                <h3 class="fw-400 mb-50">Minimal            </h3>
              </div>
              <ul role="tablist" class="nav nav-tabs outline">
                <li role="presentation" class="active"><a href="#first-tab-2" role="tab" data-toggle="tab">First</a>
                </li>
                <li role="presentation"><a href="#second-tab-2" role="tab" data-toggle="tab">Second</a>
                </li>
                <li role="presentation"><a href="#third-tab-2" role="tab" data-toggle="tab">Third</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="first-tab-2" role="tabpanel" class="tab-pane active">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis ab impedit ipsam inventore, odio sit repudiandae. Fuga soluta officia quas voluptatem, dolores nulla eaque nostrum nobis culpa illum rerum. Ut molestias nemo voluptas
                    velit explicabo dolores iusto labore eius, quidem voluptates praesentium, libero minus cumque aut consequatur expedita excepturi quae voluptatum.</p>
                </div>
                <div id="second-tab-2" role="tabpanel" class="tab-pane">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo vel qui cumque laborum asperiores, magnam, deserunt, impedit eveniet dolores non placeat aut recusandae. Maxime, cupiditate. Similique obcaecati aliquid amet odio. Magnam
                    perferendis tenetur temporibus adipisci. Adipisci, debitis sit veniam possimus sed, natus. Molestias possimus rerum laborum quasi, voluptas quidem assumenda sapiente vero.</p>
                </div>
                <div id="third-tab-2" role="tabpanel" class="tab-pane">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis porro nobis non qui, excepturi deserunt fugiat est quos vitae vero laboriosam hic quis, aliquam tempore odio sint, distinctio libero. Officia sit esse dolorum
                    excepturi perferendis? Voluptatibus iste a illum dolorem nam odit sequi reiciendis explicabo ullam pariatur facilis eos consequatur, perspiciatis!</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
    