
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/33.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay light">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h2 class="mb-25">Features Box<span class="red-dot"></span></h2>
                <h4>Molestiae aliquam delectus ipsam deleniti ducimus.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-sm-4">
              <div class="icon-box-small mb-25"><i class="icon-telescope"></i><span class="back-icon"><i class="icon-telescope"></i></span>
                <hr>
                <h4>Precision</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure pariatur ex rerum laudantium accusamus ab ut quidem ducimus veniam eveniet, voluptate.</p>
              </div>
              <!-- end of icon box-->
            </div>
            <div class="col-sm-4">
              <div class="icon-box-small boxed mb-25"><i class="icon-genius"></i><span class="back-icon"><i class="icon-genius"></i></span>
                <hr>
                <h4>Vision</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure pariatur ex rerum laudantium accusamus ab ut quidem ducimus veniam eveniet, voluptate.</p>
              </div>
              <!-- end of icon box-->
            </div>
            <div class="col-sm-4">
              <div class="icon-box-small outlined mb-25"><i class="icon-lightbulb"></i><span class="back-icon"><i class="icon-lightbulb"></i></span>
                <hr>
                <h4>Creativity</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure pariatur ex rerum laudantium accusamus ab ut quidem ducimus veniam eveniet, voluptate.</p>
              </div>
              <!-- end of icon box-->
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <section class="parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/9.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="container">
          <div class="section-content">
            <div class="row">
              <div class="col-md-3">
                <div class="icon-box-circular">
                  <div class="ib-icon"><i class="icon-dial"></i>
                  </div>
                  <div class="ib-content">
                    <p>Fourth air image fowl own appear two saying third fourth light our whose subdue.</p>
                  </div>
                </div>
                <!-- end of icon box-->
              </div>
              <div class="col-md-3">
                <div class="icon-box-circular">
                  <div class="ib-icon"><i class="icon-layers"></i>
                  </div>
                  <div class="ib-content">
                    <p>Fourth air image fowl own appear two saying third fourth light our whose subdue.</p>
                  </div>
                </div>
                <!-- end of icon box-->
              </div>
              <div class="col-md-3">
                <div class="icon-box-circular">
                  <div class="ib-icon"><i class="icon-pricetags"></i>
                  </div>
                  <div class="ib-content">
                    <p>Fourth air image fowl own appear two saying third fourth light our whose subdue.</p>
                  </div>
                </div>
                <!-- end of icon box-->
              </div>
              <div class="col-md-3">
                <div class="icon-box-circular">
                  <div class="ib-icon"><i class="icon-hourglass"></i>
                  </div>
                  <div class="ib-content">
                    <p>Fourth air image fowl own appear two saying third fourth light our whose subdue.</p>
                  </div>
                </div>
                <!-- end of icon box-->
              </div>
            </div>
            <!-- end of row-->
          </div>
          <!-- end of section content-->
        </div>
        <!-- end of container-->
      </div>
    </section>
    <section class="p-0 b-0">
      <div class="boxes">
        <div class="container-fluid">
          <div class="row">
            <div data-bg-color="#eee" class="col-md-3 col-sm-6">
              <div class="number-box"><span>Item No.</span>
                <h2>01<span class="red-dot"></span></h2>
                <h4>Discover.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
            <div data-bg-color="#f2f2f2" class="col-md-3 col-sm-6">
              <div class="number-box"><span>Item No.</span>
                <h2>02<span class="red-dot"></span></h2>
                <h4>Design.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
            <div data-bg-color="#f6f6f6" class="col-md-3 col-sm-6">
              <div class="number-box"><span>Item No.</span>
                <h2>03<span class="red-dot"></span></h2>
                <h4>Development.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
            <div data-bg-color="#f9f9f9" class="col-md-3 col-sm-6">
              <div class="number-box"><span>Item No.</span>
                <h2>04<span class="red-dot"></span></h2>
                <h4>Deploy.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of container-->
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="icon-box-simple"><i class="icon-briefcase"></i><span>Business</span>
            </div>
            <!-- end of icon box-->
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="icon-box-simple"><i class="icon-map"></i><span>Travelling</span>
            </div>
            <!-- end of icon box-->
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="icon-box-simple"><i class="icon-wallet"></i><span>Accounting</span>
            </div>
            <!-- end of icon box-->
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="icon-box-simple"><i class="icon-presentation"></i><span>Workshops</span>
            </div>
            <!-- end of icon box-->
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-sm-5">
                  <div class="icon-box-basic"><i class="icon-layers"></i>
                    <h4>Solid-State Drives</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                  <div class="icon-box-basic"><i class="icon-dial"></i>
                    <h4>Global Image Transfer</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                  <div class="icon-box-basic"><i class="icon-scope"></i>
                    <h4>DNS Management</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                </div>
                <div class="col-sm-5 col-md-offset-2">
                  <div class="icon-box-basic"><i class="icon-adjustments"></i>
                    <h4>Private Networking</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                  <div class="icon-box-basic"><i class="icon-linegraph"></i>
                    <h4>99.99% Uptime SLA</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                  <div class="icon-box-basic"><i class="icon-global"></i>
                    <h4>US and Europe locations</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
   