
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/33.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay light">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h2 class="mb-25">Buttons<span class="red-dot"></span></h2>
                <h4>Molestiae aliquam delectus ipsam deleniti ducimus.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="section-content txt-xs-center txt-sm-center">
          <div class="row">
            <div class="col-md-3 col-sm-6 mb-50">
              <h5 class="upper mb-25">Normal</h5>
              <div class="mb-15"><a href="#" class="btn btn-color btn-sm">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-color">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-color btn-lg">Button</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-50">
              <h5 class="upper mb-25">Outlined</h5>
              <div class="mb-15"><a href="#" class="btn btn-color-out btn-sm">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-color-out">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-color-out btn-lg">Button</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-50">
              <h5 class="upper mb-25">Normal Rounded</h5>
              <div class="mb-15"><a href="#" class="btn btn-color btn-sm btn-round">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-color btn-round">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-color btn-lg btn-round">Button</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-50">
              <h5 class="upper mb-25">Outlined Rounded</h5>
              <div class="mb-15"><a href="#" class="btn btn-color-out btn-sm btn-round">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-color-out btn-round">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-color-out btn-lg btn-round">Button</a>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <section class="parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/1.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="container">
          <div class="section-content txt-xs-center txt-sm-center">
            <div class="row">
              <div class="col-md-3 col-sm-6 mb-50">
                <h5 class="upper mb-25">Normal</h5>
                <div class="mb-15"><a href="#" class="btn btn-light btn-sm">Button</a>
                </div>
                <div class="mb-15"><a href="#" class="btn btn-light">Button</a>
                </div>
                <div class="mb-15"><a href="#" class="btn btn-light btn-lg">Button</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-50">
                <h5 class="upper mb-25">Outlined</h5>
                <div class="mb-15"><a href="#" class="btn btn-light-out btn-sm">Button</a>
                </div>
                <div class="mb-15"><a href="#" class="btn btn-light-out">Button</a>
                </div>
                <div class="mb-15"><a href="#" class="btn btn-light-out btn-lg">Button</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-50">
                <h5 class="upper mb-25">Normal Rounded</h5>
                <div class="mb-15"><a href="#" class="btn btn-light btn-sm btn-round">Button</a>
                </div>
                <div class="mb-15"><a href="#" class="btn btn-light btn-round">Button</a>
                </div>
                <div class="mb-15"><a href="#" class="btn btn-light btn-lg btn-round">Button</a>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-50">
                <h5 class="upper mb-25">Outlined Rounded</h5>
                <div class="mb-15"><a href="#" class="btn btn-light-out btn-sm btn-round">Button</a>
                </div>
                <div class="mb-15"><a href="#" class="btn btn-light-out btn-round">Button</a>
                </div>
                <div class="mb-15"><a href="#" class="btn btn-light-out btn-lg btn-round">Button</a>
                </div>
              </div>
            </div>
            <!-- end of row-->
          </div>
          <!-- end of section content-->
        </div>
        <!-- end of container-->
      </div>
    </section>
    <section>
      <div class="container">
        <div class="section-content txt-xs-center txt-sm-center">
          <div class="row">
            <div class="col-md-3 col-sm-6 mb-50">
              <h5 class="upper mb-25">Normal</h5>
              <div class="mb-15"><a href="#" class="btn btn-dark btn-sm">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-dark">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-dark btn-lg">Button</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-50">
              <h5 class="upper mb-25">Outlined</h5>
              <div class="mb-15"><a href="#" class="btn btn-dark-out btn-sm">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-dark-out">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-dark-out btn-lg">Button</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-50">
              <h5 class="upper mb-25">Normal Rounded</h5>
              <div class="mb-15"><a href="#" class="btn btn-dark btn-sm btn-round">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-dark btn-round">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-dark btn-lg btn-round">Button</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-50">
              <h5 class="upper mb-25">Outlined Rounded</h5>
              <div class="mb-15"><a href="#" class="btn btn-dark-out btn-sm btn-round">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-dark-out btn-round">Button</a>
              </div>
              <div class="mb-15"><a href="#" class="btn btn-dark-out btn-lg btn-round">Button</a>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content  -->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
  