
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/33.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay light">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h2 class="mb-25">Countdowns<span class="red-dot"></span></h2>
                <h4>Molestiae aliquam delectus ipsam deleniti ducimus.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h3 class="fw-400">Classic</h3>
        </div>
        <div class="section-content">
          <ul data-date="02/12/2016 15:00:00" class="nav countdown text-center">
            <li><span class="days">00</span>days</li>
            <li><span class="hours">00</span>hours</li>
            <li><span class="minutes">00</span>minutes</li>
            <li><span class="seconds">00</span>seconds</li>
          </ul>
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <section class="parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/18.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="container">
          <div class="title center">
            <h3 class="fw-400">On Image</h3>
          </div>
          <div class="section-content">
            <ul data-date="02/18/2016 15:00:00" class="nav countdown text-center">
              <li><span class="days">00</span>days</li>
              <li><span class="hours">00</span>hours</li>
              <li><span class="minutes">00</span>minutes</li>
              <li><span class="seconds">00</span>seconds</li>
            </ul>
          </div>
          <!-- end of section content       -->
        </div>
        <!-- end of container-->
      </div>
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h3 class="fw-400">Counters</h3>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="counter">
                <div class="counter-icon"><i class="icon-presentation"></i>
                </div>
                <div class="counter-content">
                  <h5><span data-count="212" class="number-count">212</span><span class="red-dot"></span></h5><span>Projects</span>
                </div>
              </div>
              <!-- end of counter-->
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="counter">
                <div class="counter-icon"><i class="icon-beaker"></i>
                </div>
                <div class="counter-content">
                  <h5> <span data-count="9060" class="number-count">9060</span><span class="red-dot"></span></h5><span>Lines of Code</span>
                </div>
              </div>
              <!-- end of counter-->
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="counter">
                <div class="counter-icon"><i class="icon-hourglass"></i>
                </div>
                <div class="counter-content">
                  <h5><span data-count="75" class="number-count">75</span><span class="red-dot"></span></h5><span>Clients</span>
                </div>
              </div>
              <!-- end of counter-->
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="counter">
                <div class="counter-icon"><i class="icon-chat"></i>
                </div>
                <div class="counter-content">
                  <h5><span data-count="872" class="number-count">872</span><span class="red-dot"></span></h5><span>Tweets</span>
                </div>
              </div>
              <!-- end of counter-->
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
   