
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/33.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay light">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h2 class="mb-25">Progress Bars<span class="red-dot"></span></h2>
                <h4>Molestiae aliquam delectus ipsam deleniti ducimus.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h3 class="fw-400">Classic</h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="skill"><span class="skill-name">Design</span><span class="skill-perc">90%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="90" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Branding</span><span class="skill-perc">80%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="80" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Product Development</span><span class="skill-perc">85%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="85" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Web Development</span><span class="skill-perc">95%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="95" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Strategy</span><span class="skill-perc">75%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="75" class="progress-bar"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section-content-->
      </div>
      <!-- end of container-->
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h3 class="fw-400">Colored</h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="skill"><span class="skill-name">Design</span><span class="skill-perc">90%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="90" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Branding</span><span class="skill-perc">80%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="80" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Product Development</span><span class="skill-perc">85%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="85" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Web Development</span><span class="skill-perc">95%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="95" class="progress-bar colored"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Strategy</span><span class="skill-perc">75%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="75" class="progress-bar colored"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section-content-->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
   