
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/33.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay light">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h2 class="mb-25">Accordions<span class="red-dot"></span></h2>
                <h4>Molestiae aliquam delectus ipsam deleniti ducimus.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 mb-25">
              <h5 class="mb-25 upper">Multiple Open</h5>
              <ul data-multiple="true" class="accordion nav">
                <li>
                  <div class="accordion-title">
                    <h4>First Element</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>Second Element</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>Third Element</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
              </ul>
              <!-- end of accordion-->
            </div>
            <div class="col-md-6 mb-25">
              <h5 class="mb-25 upper">One at time</h5>
              <ul class="accordion nav">
                <li>
                  <div class="accordion-title">
                    <h4>First Element</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>Second Element</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
                <li>
                  <div class="accordion-title">
                    <h4>Third Element</h4>
                  </div>
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sit fugiat tenetur possimus, maiores, excepturi quas provident id asperiores in corporis! Laudantium officia fugit animi voluptas dolorum quam at earum!</p>
                  </div>
                </li>
              </ul>
              <!-- end of accordion-->
            </div>
          </div>
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
  