
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/33.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay light">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h2 class="mb-25">Audio and Video<span class="red-dot"></span></h2>
                <h4>Molestiae aliquam delectus ipsam deleniti ducimus.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h3 class="fw-400">Audio</h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="media-audio">
            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/51057943&amp;amp;color=ff5500&amp;amp;auto_play=false&amp;amp;hide_related=false&amp;amp;show_comments=true&amp;amp;show_user=true&amp;amp;show_reposts=false"
            frameborder="0"></iframe>
          </div>
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h3 class="fw-400">Video</h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="media-video">
            <iframe src="https://player.vimeo.com/video/139640556" frameborder="0"></iframe>
          </div>
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
   