
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/33.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay light">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h2 class="mb-25">Typography<span class="red-dot"></span></h2>
                <h4>Molestiae aliquam delectus ipsam deleniti ducimus.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-sm-8">
              <p>Lorem <b>ipsum</b> dolor sit amet, consectetur adipisicing elit. Sequi optio voluptas ipsam debitis totam quidem autem nemo rem, tempore vero magni <a href="#">doloribus</a> eligendi delectus, placeat facere inventore nesciunt, atque reiciendis?
                Doloremque ducimus aliquid modi eum maiores <em><u>repellendus</u></em> temporibus esse earum accusantium atque, <s>distinctio</s> porro minus fugit, consequuntur dolore quasi ratione obcaecati maxime?</p>
            </div>
            <div class="col-sm-4">
              <blockquote class="serif boxed">
                <p>Modi perferendis ipsa, dolorum eaque accusantium! Velit libero fugit dolores repellendus consequatur nisi.</p>
                <footer>Quote author here</footer>
              </blockquote>
            </div>
          </div>
          <!-- end of row              -->
          <hr class="mb-50 mt-50">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-sm-6 text-center fw-300">
                  <h1 class="mb-25">Heading One</h1>
                  <h2 class="mb-25">Heading Two</h2>
                  <h3 class="mb-25">Heading Three</h3>
                  <h4 class="mb-25">Heading Four</h4>
                  <h5 class="mb-25">Heading Five</h5>
                  <h6 class="mb-25">Heading Six</h6>
                </div>
                <div class="col-sm-6 text-center">
                  <h1 class="mb-25 upper">Heading One</h1>
                  <h2 class="mb-25 upper">Heading Two</h2>
                  <h3 class="mb-25 upper">Heading Three</h3>
                  <h4 class="mb-25 upper">Heading Four</h4>
                  <h5 class="mb-25 upper">Heading Five</h5>
                  <h6 class="mb-25 upper">Heading Six</h6>
                </div>
              </div>
              <!-- end of row-->
            </div>
          </div>
          <!-- end of row              -->
          <hr class="mb-50 mt-50">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-sm-4">
                  <ul>
                    <li>List Item 1</li>
                    <li>List Item 2</li>
                    <li>List Item 3
                      <ul>
                        <li>List Item 3.1</li>
                        <li>List Item 3.2</li>
                      </ul>
                    </li>
                    <li>List Item 4</li>
                    <li>List Item 5</li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <ol>
                    <li>List Item 1</li>
                    <li>List Item 2</li>
                    <li>List Item 3
                      <ol>
                        <li>List Item 3.1</li>
                        <li>List Item 3.2</li>
                      </ol>
                    </li>
                    <li>List Item 4</li>
                    <li>List Item 5</li>
                  </ol>
                </div>
                <div class="col-sm-4">
                  <ul class="icon-list">
                    <li><i class="ti-check"></i>List Item 1</li>
                    <li><i class="ti-check"></i>List Item 2</li>
                    <li><i class="ti-check"></i>List Item 3</li>
                    <li><i class="ti-check"></i>List Item 4</li>
                    <li><i class="ti-check"></i>List Item 5</li>
                  </ul>
                </div>
              </div>
              <!-- end of row-->
            </div>
          </div>
          <!-- end of row                  -->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
    