
    <!-- Home section-->
    <section id="home">
      <!-- Home slider-->
      <div id="home-slider" class="flexslider kenburn">
        <ul class="slides">
          <li>
            <img src="/images/bg/38.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content bold-text">
                <div class="container">
                  <h6 class="upper">Taking care of your body.</h6>
                  <h1 class="upper">Personal Trainer<span class="red-dot"></span></h1>
                  <p class="mt-50"><a href="#about" data-scroll="true" class="btn btn-color btn-scroll"><span><i class="ti-angle-down"></i></span></a>
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <img src="/images/bg/39.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content bold-text">
                <div class="container">
                  <h6 class="upper">Are you ready for the workout?</h6>
                  <h1 class="upper">Fitness Training<span class="red-dot"></span></h1>
                  <p class="mt-50"><a href="#about" data-scroll="true" class="btn btn-color btn-scroll"><span><i class="ti-angle-down"></i></span></a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- end of home slider-->
    </section>
    <!-- end of home section-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-1 text-center col-sm-5">
            <img src="/images/bg/41.jpg" alt="">
          </div>
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-1">
            <div class="title">
              <h4 class="upper">This is my mission.</h4>
              <h3 class="upper">About Me<span class="red-dot"></span></h3>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore similique minima, tenetur veniam, corrupti rem voluptate quis a unde officia quo repudiandae ducimus commodi.</p>
              <p>Perferendis sit, dolor! Iste, consequuntur. Laudantium rem pariatur non id eos quisquam ut laboriosam.</p>
              <p><a href="#program" data-scroll="true" class="btn btn-dark">View my program</a>
              </p>
            </div>
            <!-- end of section content-->
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    <section id="program">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-4 img-side img-right">
            <div class="img-holder">
              <img src="/images/bg/40.jpg" alt="" class="bg-img">
            </div>
          </div>
          <!-- end of side background image-->
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-7">
            <div class="title">
              <h4 class="upper">Get ready.</h4>
              <h3 class="upper">My Program<span class="red-dot"></span></h3>
              <hr>
            </div>
            <div class="section-content">
              <div class="row">
                <div class="col-md-4 col-xs-6">
                  <div class="text-box">
                    <h4 class="upper small-heading">Zumba</h4>
                    <p> <small>4:00 pm - 5:00 pm</small>
                    </p>
                    <h6 class="upper grey-text">Monday</h6>
                  </div>
                  <!-- end of text box-->
                </div>
                <div class="col-md-4 col-xs-6">
                  <div class="text-box">
                    <h4 class="upper small-heading">Pilates</h4>
                    <p> <small>5:00 pm - 6:00 pm</small>
                    </p>
                    <h6 class="upper grey-text">Monday</h6>
                  </div>
                  <!-- end of text box-->
                </div>
                <div class="col-md-4 col-xs-6">
                  <div class="text-box">
                    <h4 class="upper small-heading">Kick Box</h4>
                    <p> <small>4:00 pm - 5:00 pm</small>
                    </p>
                    <h6 class="upper grey-text">Wednesday</h6>
                  </div>
                  <!-- end of text box-->
                </div>
                <div class="col-md-4 col-xs-6">
                  <div class="text-box">
                    <h4 class="upper small-heading">Cardio</h4>
                    <p> <small>5:00 pm - 6:00 pm</small>
                    </p>
                    <h6 class="upper grey-text">Wednesday</h6>
                  </div>
                  <!-- end of text box-->
                </div>
                <div class="col-md-4 col-xs-6">
                  <div class="text-box">
                    <h4 class="upper small-heading">Yoga</h4>
                    <p> <small>4:00 pm - 5:00 pm</small>
                    </p>
                    <h6 class="upper grey-text">Friday</h6>
                  </div>
                  <!-- end of text box-->
                </div>
                <div class="col-md-4 col-xs-6">
                  <div class="text-box">
                    <h4 class="upper small-heading">Kick Box</h4>
                    <p> <small>5:00 pm - 6:00 pm</small>
                    </p>
                    <h6 class="upper grey-text">Friday</h6>
                  </div>
                  <!-- end of text box-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    <section id="workout">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-4 img-side img-left">
            <div class="img-holder">
              <img src="/images/bg/42.jpg" alt="" class="bg-img">
              <div class="holder-container">
                <div class="centrize">
                  <div class="v-center">
                    <div data-src="https://player.vimeo.com/video/66743357?badge=0&amp;title=0&amp;byline=0&amp;title=0&amp;autoplay=1" class="play-button"><i class="ti-control-play"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of side background image-->
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-4">
            <div class="title">
              <h4 class="upper">Are you looking for motivation?</h4>
              <h3 class="upper">Watch my Workout<span class="red-dot"></span></h3>
              <hr>
            </div>
            <div class="section-content">
              <p>A voluptatibus quas quaerat distinctio molestias sed fugit dicta sapiente eligendi doloribus fugiat, veritatis, vel tempora suscipit, quo obcaecati eius. Ad, voluptatum.</p>
              <p>Iure, praesentium esse, aspernatur dolorum voluptatum delectus. Vel, eveniet nobis soluta. Velit, obcaecati reiciendis hic rem. Rem temporibus, explicabo fugit voluptatum molestias.</p>
              <p class="mt-25"><a href="#" class="btn btn-dark">Book a lesson</a>
              </p>
            </div>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    <section id="book">
      <div class="container">
        <div class="title center">
          <h4 class="upper">Don't be lazy.</h4>
          <h3 class="upper">Book a Lesson<span class="red-dot"></span></h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
              <div class="contact-form">
                <form id="contact-form" method="POST" action="http://themes.hody.co/html/comet/mail.php">
                  <div class="form-group">
                    <input name="fullname" type="text" placeholder="Your Name" data-required="true" class="form-control">
                  </div>
                  <div class="form-group">
                    <input name="email" type="email" placeholder="Your Email" data-required="true" class="form-control">
                  </div>
                  <div class="form-group">
                    <input name="phone" type="text" placeholder="Phone Number" class="form-control">
                  </div>
                  <div class="form-group">
                    <textarea name="message" placeholder="Message" data-required="true" class="form-control"></textarea>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-dark">Send Message</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container   -->
    </section>
   