
    <!-- End Navigation Bar-->
    <!-- Home Section-->
    <section id="home" class="bordered">
      <!-- Home slider-->
      <div id="home-slider" class="flexslider">
        <ul class="slides">
          <li>
            <img src="/images/bg/32.jpg" alt="">
            <div class="slide-wrap">
              <div class="slide-content text-left">
                <div class="container">
                  <h6 class="upper">Welcome to my website</h6>
                  <h1 class="upper">Freelance Photographer</h1>
                  <p><a href="#" class="btn btn-light-out">View Works</a>
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- end of home slider-->
    </section>
    <!-- end of home section-->
    <section class="p-0">
      <ul class="photo-gallery">
        <li class="half">
          <div class="gallery-item">
            <a href="/images/gallery/1.jpg">
              <img src="/images/gallery/1.jpg" alt="">
            </a>
          </div>
        </li>
        <li class="half">
          <div class="gallery-item">
            <a href="/images/gallery/2.jpg">
              <img src="/images/gallery/2.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="gallery-item">
            <a href="/images/gallery/3.jpg">
              <img src="/images/gallery/3.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="gallery-item">
            <a href="/images/gallery/4.jpg">
              <img src="/images/gallery/4.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="gallery-item">
            <a href="/images/gallery/5.jpg">
              <img src="/images/gallery/5.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="gallery-item">
            <a href="/images/gallery/6.jpg">
              <img src="/images/gallery/6.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="gallery-item">
            <a href="/images/gallery/7.jpg">
              <img src="/images/gallery/7.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="gallery-item">
            <a href="/images/gallery/8.jpg">
              <img src="/images/gallery/8.jpg" alt="">
            </a>
          </div>
        </li>
        <li class="half full-sm">
          <div class="gallery-item">
            <a href="/images/gallery/9.jpg">
              <img src="/images/gallery/9.jpg" alt="">
            </a>
          </div>
        </li>
        <li class="half">
          <div class="gallery-item">
            <a href="/images/gallery/10.jpg">
              <img src="/images/gallery/10.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="gallery-item">
            <a href="/images/gallery/11.jpg">
              <img src="/images/gallery/11.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="gallery-item">
            <a href="/images/gallery/12.jpg">
              <img src="/images/gallery/12.jpg" alt="">
            </a>
          </div>
        </li>
        <li>
          <div class="gallery-item">
            <a href="/images/gallery/13.jpg">
              <img src="/images/gallery/13.jpg" alt="">
            </a>
          </div>
        </li>
      </ul>
      <!-- end of photo gallery-->
    </section>
    <!-- Footer-->
   