
    <!-- Home Section-->
    <section id="home" class="dark particles-bg">
      <div class="slide-wrap">
        <div class="slide-content">
          <div class="container">
            <h6 class="mb-0">Hello, my name is Jon Doe.</h6>
            <!-- Text rotator-->
            <div id="text-rotator" class="flexslider mt-15 mb-15">
              <ul class="slides">
                <li>
                  <h1 class="upper fw-400">Front-End Developer<span class="red-dot"></span></h1>
                </li>
                <li>
                  <h1 class="upper fw-400">Graphic Designer<span class="red-dot"></span></h1>
                </li>
              </ul>
            </div>
            <!-- end of text rotator                    -->
            <ul class="social-list">
              <li><a target="_blank" href="#"><i class="ti-facebook"></i></a>
              </li>
              <li><a target="_blank" href="#"><i class="ti-twitter-alt"></i></a>
              </li>
              <li><a target="_blank" href="#"><i class="ti-linkedin"></i></a>
              </li>
              <li><a target="_blank" href="#"><i class="ti-instagram"></i></a>
              </li>
              <li><a target="_blank" href="#"><i class="ti-pinterest"></i></a>
              </li>
              <li><a target="_blank" href="#"><i class="ti-github"></i></a>
              </li>
            </ul>
            <!-- end of social icons-->
          </div>
        </div>
      </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="title center"><i class="icon-profile-male"></i>
          <h3>About Me<span class="red-dot"></span></h3>
          <hr>
        </div>
        <div class="section-content text-center">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum fuga, ullam tempora aperiam distinctio incidunt iure reprehenderit ab cupiditate repudiandae quisquam dolore minus pariatur magnam, omnis soluta natus. Laborum!</p>
              <p>Dolorum itaque, quas unde consectetur mollitia fugit obcaecati odit dignissimos suscipit corrupti error placeat neque sapiente cupiditate aperiam quisquam magnam perspiciatis esse.</p>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container          -->
    </section>
    <section id="services" class="dark">
      <div class="container">
        <div class="title center"><i class="icon-briefcase"></i>
          <h3>I am expert in<span class="red-dot"></span></h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div data-options="{&quot;items&quot;: 2, &quot;autoplay&quot;: true, &quot;margin&quot;: 30, &quot;mdItems&quot;: 2}" class="owl-carousel">
                <div class="item">
                  <div class="icon-box-small boxed mb-25 mt-25"><i class="icon-dial"></i>
                    <h4>Design</h4>
                    <p>Sed laborum voluptatem optio, minima placeat quaerat laboriosam cupiditate, magni aut accusamus iusto voluptatum consectetur nostrum ipsum.</p>
                  </div>
                </div>
                <div class="item">
                  <div class="icon-box-small boxed mb-25 mt-25"><i class="icon-layers"></i>
                    <h4>Web Development</h4>
                    <p>Sed laborum voluptatem optio, minima placeat quaerat laboriosam cupiditate, magni aut accusamus iusto voluptatum consectetur nostrum ipsum.</p>
                  </div>
                </div>
                <div class="item">
                  <div class="icon-box-small boxed mb-25 mt-25"><i class="icon-pricetags"></i>
                    <h4>Marketing</h4>
                    <p>Sed laborum voluptatem optio, minima placeat quaerat laboriosam cupiditate, magni aut accusamus iusto voluptatum consectetur nostrum ipsum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container                -->
    </section>
    <section id="experience">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <ul class="timeline">
              <li>
                <div class="timeline-item">
                  <h4>Dropbox</h4><span>June 2014 - <b>Present</b></span>
                </div>
                <div class="timeline-description">
                  <h4>UI Designer</h4>
                  <p>Quisquam eveniet reprehenderit quis recusandae voluptatem debitis corrupti hic dolorum ut commodi vero ab quasi nisi sit dolor officiis numquam, aspernatur fugiat!</p>
                </div>
              </li>
              <li>
                <div class="timeline-item">
                  <h4>Google</h4><span>May 2012 - <b>May 2014</b></span>
                </div>
                <div class="timeline-description">
                  <h4>Front-End Developer</h4>
                  <p>Quisquam eveniet reprehenderit quis recusandae voluptatem debitis corrupti hic dolorum ut commodi vero ab quasi nisi sit dolor officiis numquam, aspernatur fugiat!</p>
                </div>
              </li>
              <li>
                <div class="timeline-item">
                  <h4>Airbnb</h4><span>February 2010 - <b>April 2012</b></span>
                </div>
                <div class="timeline-description">
                  <h4>Digital Designer</h4>
                  <p>Quisquam eveniet reprehenderit quis recusandae voluptatem debitis corrupti hic dolorum ut commodi vero ab quasi nisi sit dolor officiis numquam, aspernatur fugiat!</p>
                </div>
              </li>
              <li>
                <div class="timeline-item">
                  <h4>Oxford University</h4><span>September 2007 - <b>May 2010</b></span>
                </div>
                <div class="timeline-description">
                  <h4>Bachelor’s degree in Design</h4>
                  <p>Quisquam eveniet reprehenderit quis recusandae voluptatem debitis corrupti hic dolorum ut commodi vero ab quasi nisi sit dolor officiis numquam, aspernatur fugiat!</p>
                </div>
              </li>
            </ul>
            <!-- end of timeline-->
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    <section id="skills" class="dark">
      <div class="container">
        <div class="title center"><i class="icon-circle-compass"></i>
          <h3>Skills<span class="red-dot"></span></h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="skill"><span class="skill-name">Design</span><span class="skill-perc">90%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="90" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Branding</span><span class="skill-perc">80%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="80" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Product Development</span><span class="skill-perc">85%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="85" class="progress-bar"></div>
                </div>
              </div>
              <div class="skill"><span class="skill-name">Web Development</span><span class="skill-perc">95%</span>
                <div class="progress">
                  <div role="progressbar" data-progress="95" class="progress-bar"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container                -->
    </section>
    <section id="contact">
      <div class="container">
        <div class="title center"><i class="icon-envelope"></i>
          <h3>Contact Me<span class="red-dot"></span></h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="contact-form">
                <form id="contact-form" method="POST" action="http://themes.hody.co/html/comet/mail.php">
                  <div class="form-group">
                    <input name="fullname" type="text" placeholder="Your Name" data-required="true" class="form-control">
                  </div>
                  <div class="form-group">
                    <input name="email" type="email" placeholder="Your Email" data-required="true" class="form-control">
                  </div>
                  <div class="form-group">
                    <input name="phone" type="text" placeholder="Phone Number" class="form-control">
                  </div>
                  <div class="form-group">
                    <textarea name="message" placeholder="Message" data-required="true" class="form-control"></textarea>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-color">Send Message</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container                -->
    </section>
 