
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/13.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h1 class="upper">We're Hiring<span class="red-dot"></span></h1>
                <h4>Join the team.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h4 class="upper">Are you ready to jump?</h4>
          <h2>Apply Now<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-sm-6 mb-25">
              <div class="icon-box-small boxed">
                <div class="ib-icon"><i class="icon-laptop"></i>
                </div>
                <h4>Powerful equipment</h4>
                <hr>
                <p>Assumenda laudantium animi enim autem vero rerum dolore? Itaque asperiores dolor dicta, culpa. Ad facilis deleniti a quasi, eaque ullam quidem magnam?</p>
              </div>
              <!-- end of icon box-->
            </div>
            <div class="col-sm-6 mb-25">
              <div class="icon-box-small boxed">
                <div class="ib-icon"><i class="icon-clock"></i>
                </div>
                <h4>Half day Fridays</h4>
                <hr>
                <p>Assumenda laudantium animi enim autem vero rerum dolore? Itaque asperiores dolor dicta, culpa. Ad facilis deleniti a quasi, eaque ullam quidem magnam?</p>
              </div>
              <!-- end of icon box-->
            </div>
            <div class="col-sm-6 mb-25">
              <div class="icon-box-small boxed">
                <div class="ib-icon"><i class="icon-wine"></i>
                </div>
                <h4>Free Meals Everyday</h4>
                <hr>
                <p>Assumenda laudantium animi enim autem vero rerum dolore? Itaque asperiores dolor dicta, culpa. Ad facilis deleniti a quasi, eaque ullam quidem magnam?</p>
              </div>
              <!-- end of icon box-->
            </div>
            <div class="col-sm-6 mb-25">
              <div class="icon-box-small boxed">
                <div class="ib-icon"><i class="icon-calendar"></i>
                </div>
                <h4>Awesome Events</h4>
                <hr>
                <p>Assumenda laudantium animi enim autem vero rerum dolore? Itaque asperiores dolor dicta, culpa. Ad facilis deleniti a quasi, eaque ullam quidem magnam?</p>
              </div>
              <!-- end of icon box-->
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h4 class="upper">We're hiring.</h4>
          <h3>Open Positions<span class="red-dot"></span></h3>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="job-offer">
                <div class="job-info">
                  <div class="row">
                    <div class="col-sm-8"><span class="upper">Engineering</span>
                      <h3>Front-End Developer</h3><small class="upper">Boston, Massachusetts</small>
                    </div>
                    <div class="col-sm-4 txt-sm-right txt-md-right"><a href="#" class="btn btn-color btn-sm">Apply for position</a>
                    </div>
                  </div>
                </div>
                <div class="job-content">
                  <p>Ipsa enim dolorum vitae deserunt, corporis nihil, ab vel error beatae eaque reprehenderit. Aspernatur excepturi, praesentium doloremque ab voluptatum accusantium cumque quasi. Adipisci accusantium doloremque nobis laboriosam natus.</p>
                  <a
                  href="#" class="upper small-link">Read More</a>
                </div>
              </div>
              <div class="job-offer">
                <div class="job-info">
                  <div class="row">
                    <div class="col-sm-8"><span class="upper">Research</span>
                      <h3>Data Scientist</h3><small class="upper">Boston, Massachusetts / Remote</small>
                    </div>
                    <div class="col-sm-4 txt-sm-right txt-md-right"><a href="#" class="btn btn-color btn-sm">Apply for position</a>
                    </div>
                  </div>
                </div>
                <div class="job-content">
                  <p>Ipsa enim dolorum vitae deserunt, corporis nihil, ab vel error beatae eaque reprehenderit. Aspernatur excepturi, praesentium doloremque ab voluptatum accusantium cumque quasi. Adipisci accusantium doloremque nobis laboriosam natus.</p>
                  <a
                  href="#" class="upper small-link">Read More</a>
                </div>
              </div>
              <div class="job-offer">
                <div class="job-info">
                  <div class="row">
                    <div class="col-sm-8"><span class="upper">Design</span>
                      <h3>UI/UX Designer</h3><small class="upper">London, UK</small>
                    </div>
                    <div class="col-sm-4 txt-sm-right txt-md-right"><a href="#" class="btn btn-color btn-sm">Apply for position</a>
                    </div>
                  </div>
                </div>
                <div class="job-content">
                  <p>Ipsa enim dolorum vitae deserunt, corporis nihil, ab vel error beatae eaque reprehenderit. Aspernatur excepturi, praesentium doloremque ab voluptatum accusantium cumque quasi. Adipisci accusantium doloremque nobis laboriosam natus.</p>
                  <a
                  href="#" class="upper small-link">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    