
    <!-- End Navigation Bar-->
    <section class="page-title dark">
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <div class="title">
              <h1 class="upper">Single Item<span class="red-dot"></span></h1>
              <h4>Our best work.</h4>
              <hr>
            </div>
          </div>
          <!-- end of container-->
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="media-video">
          <iframe src="https://player.vimeo.com/video/139640556" frameborder="0"></iframe>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-5 mb-25">
            <div class="title txt-md-right txt-sm-center txt-xs-center">
              <h4 class="upper">Short description.</h4>
              <h3>The challenge<span class="red-dot"></span></h3>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate consequuntur incidunt.</p><a class="btn btn-color-out mb-25">Open Project<i class="ti-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-1">
            <div class="row">
              <div class="col-md-12 col-sm-4">
                <div class="icon-box-basic"><i class="icon-tools"></i>
                  <h4>Redesign.</h4>
                  <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div>
              </div>
              <div class="col-md-12 col-sm-4">
                <div class="icon-box-basic"><i class="icon-target"></i>
                  <h4>Branding.</h4>
                  <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div>
              </div>
              <div class="col-md-12 col-sm-4">
                <div class="icon-box-basic"><i class="icon-expand"></i>
                  <h4>Delivery.</h4>
                  <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="simple-parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/17.jpg" class="parallax-bg"></div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="project-detail">
              <p><strong>Client:</strong>Company Inc.</p>
              <p><strong>Date:</strong>28 September, 2015</p>
              <p><strong>Link:</strong><a href="#">companysite.com</a>
              </p>
              <p><strong>Type:</strong>Redesign, Branding, Website</p>
            </div>
          </div>
          <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eum eveniet, facere libero ipsa fugiat nihil sit fuga odio, distinctio quasi veniam adipisci! Molestiae aperiam labore, neque assumenda error natus!</p>
          </div>
          <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eum eveniet, facere libero ipsa fugiat nihil sit fuga odio, distinctio quasi veniam adipisci! Molestiae aperiam labore, neque assumenda error natus!</p>
          </div>
        </div>
      </div>
    </section>
    <section class="controllers p-0">
      <div class="container">
        <div class="projects-controller"><a href="#" class="prev"><span><i class="ti-arrow-left"></i>Previous</span></a><a href="#" class="all"><span><i class="ti-layout-grid2"></i></span></a><a href="#" class="next"><span>Next<i class="ti-arrow-right"></i></span></a>
        </div>
      </div>
    </section>
    <!-- Footer-->
  