
    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="/images/bg/14.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h1 class="upper">Single Item<span class="red-dot"></span></h1>
                <h4>Our best work.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="project-detail">
              <p><strong>Client:</strong>Company Inc.</p>
              <p><strong>Date:</strong>28 September, 2015</p>
              <p><strong>Link:</strong><a href="#">companysite.com</a>
              </p>
              <p><strong>Type:</strong>Redesign, Branding, Website</p>
            </div>
          </div>
          <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eum eveniet, facere libero ipsa fugiat nihil sit fuga odio, distinctio quasi veniam adipisci! Molestiae aperiam labore, neque assumenda error natus!</p>
          </div>
          <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eum eveniet, facere libero ipsa fugiat nihil sit fuga odio, distinctio quasi veniam adipisci! Molestiae aperiam labore, neque assumenda error natus!</p>
          </div>
        </div>
        <!-- end of row-->
      </div>
    </section>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 img-side img-left">
            <div class="img-holder">
              <img src="/images/portfolio/single-1.jpg" alt="" class="bg-img">
            </div>
          </div>
        </div>
        <!-- end of row            -->
      </div>
      <!-- end of container-->
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6">
            <div class="title">
              <h4 class="upper mb-10">Short description.</h4>
              <h3 class="upper fw-400">The challenge<span class="red-dot"></span></h3>
              <hr>
            </div>
            <p class="mb-25 alt-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla sint molestiae iusto voluptatum omnis debitis quisquam placeat ipsa repudiandae alias quam tempora, deleniti quas ad, sapiente pariatur. Atque, consequuntur, sequi.</p>
          </div>
        </div>
        <!-- end of row        -->
      </div>
      <!-- end of container-->
    </section>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 img-side img-right">
            <div class="img-holder">
              <img src="/images/portfolio/single-2.jpg" alt="" class="bg-img">
            </div>
          </div>
        </div>
        <!-- end of row              -->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-6 txt-sm-right txt-md-right">
            <div class="title">
              <h4 class="upper mb-10">Short description.</h4>
              <h3 class="upper fw-400">The process<span class="red-dot"></span></h3>
              <hr>
            </div>
            <p class="mb-25 alt-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla sint molestiae iusto voluptatum omnis debitis quisquam placeat ipsa repudiandae alias quam tempora, deleniti quas ad, sapiente pariatur. Atque, consequuntur, sequi.</p>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 img-side img-left">
            <div class="img-holder">
              <img src="/images/portfolio/single-3.jpg" alt="" class="bg-img">
            </div>
          </div>
        </div>
        <!-- end of row              -->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6">
            <div class="title">
              <h4 class="upper mb-10">Short description.</h4>
              <h3 class="upper fw-400">The solution<span class="red-dot"></span></h3>
              <hr>
            </div>
            <p class="mb-25 alt-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla sint molestiae iusto voluptatum omnis debitis quisquam placeat ipsa repudiandae alias quam tempora, deleniti quas ad, sapiente pariatur. Atque, consequuntur, sequi.</p>
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    <section class="controllers p-0">
      <div class="container">
        <div class="projects-controller"><a href="#" class="prev"><span><i class="ti-arrow-left"></i>Previous</span></a><a href="#" class="all"><span><i class="ti-layout-grid2"></i></span></a><a href="#" class="next"><span>Next<i class="ti-arrow-right"></i></span></a>
        </div>
      </div>
    </section>
    <!-- Footer-->
  